name: Build Project
on: push
jobs:
    test:
        name: Run Tests
        runs-on: ubuntu-latest
        steps:
            - name: checkout code
              uses: actions/checkout@v6
            - name: install NodeJS
              uses: actions/setup-node@v6
              with:
                node-version: '20'
            - name: install dependencies
              run: npm ci
            - name: run tests
              run: npm test
    Deploy:
        needs: test
        name: Deploy Application
        runs-on: ubuntu-latest
        steps:
            - name: checkout code
              uses: actions/checkout@v6
            - name: install NodeJS
              uses: actions/setup-node@v6
              with:
                node-version: '20'
            - name: install dependencies
              run: npm ci
            - name: Build Application
              run: npm run build
            - name: Deploy to server
              run: echo "Deploying application..."